{% extends 'base.html' %}

{% block extra_nav %}
<div class = "container">
    <a href = "{{ url_for('student_dashboard') }}" class = "btn btn-outline-light btn-sm">Back</a>
{% endblock %}

{% block content %}
<div class = "row justify-content-center">
    <div class = "col-md-6">
        <div class = "card shadow-lg p-4 rounded-4 mb-4">
            <h2 class = "text-center fw-bold mb-4">Edit Profile</h2>
            <form method = "POST" action = "{{ url_for('edit_profile_student') }}" enctype = "multipart/form-data">
                <div class = "mb-3">
                    <label for = "name" class = "form-label fw-bold">Name</label>
                    <input type = "text" class = "form-control" id = "name" name = "name" value="{{ student.name }}" required>
                </div>
                <div class = "mb-3">
                    <label for = "skills" class = "form-label fw-bold">Skills</label>
                    <input type = "text" class = "form-control" id = "skills" name = "skills" value="{{ student.skills }}" required>
                </div>
                <div class = "mb-3">
                    <label class = "form-label fw-bold">Resume</label>
                    <input type = "file" name = "resume" class = "form-control" accept = ".pdf, .docx, .doc">
                    {% if student.resume_path %}
                        <div class = "mt-2 small text-success">
                            Current file: <a href = "{{ url_for('static', filename = 'uploads/resumes/' + student.resume_path) }}" target = "_blank">View Uploaded Resume</a>
                        </div>
                    {% endif %}
                </div>
                
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}